.leaflet-container {
  height: 100vh;
}

.checkboxContainer {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 200px;
  height: 200px;
  z-index: 9999;
  line-height: 30px;
  background-color: #fff;
  text-align: left;
}